

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-image: url(images/black-cat.jpg);
}

.container {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: #f2e61a;
}

input[type="text"],
input[type="password"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #f2e61a;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
}

.checkbox-group label {
    display: block;
    margin-top: 5px;
    color: #fff;
}

.remember-me {
    margin-left: -293px;
}

button[type="submit"] {
    margin-top: 10px;
    background-color: #f2e61a;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; /* вид курсора при наведении */
}

button[type="submit"]:hover {
    background-color: #333;
    color: #fff;
}

.form-group {
    margin-top: 15px;
}